<app-player-search (playerSelectionChanged)="guess($event)"></app-player-search><p-button label="New game" (onClick)="startNewJourneyGame()"></p-button>
<p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
<p-divider></p-divider>
<p-table [value]="journeyGame?.transfers" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Season</th>
      <th>Date</th>
      <th>From:</th>
      <th>To:</th>
      <th>Fee:</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-transfer>
    <tr>
      <td>{{ transfer.season }}</td>
      <td>{{ transfer.date }}</td>
      <td>
        <div *ngIf="transfer.clubFromImage !== null">
          <img [src]="transfer.clubFromImage" width="25px" height="25px" alt=""/>
        </div>
        {{ transfer.clubFromName }}
      </td>
      <td>
        <div *ngIf="transfer.clubToImage !== null">
          <img [src]="transfer.clubToImage" width="25px" height="25px" alt=""/></div>
        {{ transfer.clubToName }}
      </td>
      <td>
        <div [innerHTML]="transfer.fee === null ? '-' : transfer.fee"></div>
      </td>
    </tr>
  </ng-template>
</p-table>

<router-outlet></router-outlet>
