<div *ngIf="!gameInProgress else gameComponent">
  <div *ngIf="!joined else playersComponent">
    <input type="text" pInputText [(ngModel)]="name"/>
    <p-button label="Join" (click)="join()"></p-button>
  </div>

  <ng-template #playersComponent>
    <p-table [value]="players" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Players:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr>
          <td>{{ player }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-button *ngIf="gameOwner" label="Start game" (click)="startGame()"></p-button>
  </ng-template>
</div>

<ng-template #gameComponent>
  <div *ngIf="!gameFinished; else gameResultComponent">
    <app-player-search (playerSelectionChanged)="guess($event)"></app-player-search>
  </div>
  <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
  <p-divider></p-divider>
  <app-transfers [transfers]="transfers"></app-transfers>
</ng-template>

<ng-template #gameResultComponent>
  <div *ngIf="won">You won!</div>
  <div *ngIf="!won">
    Player {{ gameFinishInformation?.playerName }} won! <br>
    It was: {{ gameFinishInformation?.journeyPlayerName }}
  </div>
  <img [src]="gameFinishInformation?.imageURL" width="150px" height="200px" alt=""/>
  <p-divider *ngIf="gameOwner"></p-divider>
  <p-button *ngIf="gameOwner" label="New game" (click)="newGame()"></p-button>
</ng-template>
