<div *ngIf="!gameInProgress else gameComponent">
  <div *ngIf="!joined else playersComponent">
    <input type="text" pInputText [(ngModel)]="name"/>
    <p-button label="Join" (click)="join()"></p-button>
  </div>

  <ng-template #playersComponent>
    <p-table [value]="players" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Players:</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr>
          <td>{{ player }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p-button *ngIf="gameOwner" label="Start game" (click)="startGame()"></p-button>
  </ng-template>
</div>

<ng-template #gameComponent>
<!--  <app-player-search (playerSelectionChanged)="guess($event)"></app-player-search> TODO-->
  <app-transfers [transfers]="transfers"></app-transfers>
</ng-template>
